.snow {
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  animation: fall linear infinite;
  opacity: 0.8;
}

@keyframes fall {
  from {
    transform: translateY(0vh) translateX(0vw);
  }
  to {
    transform: translateY(105vh) translateX(5vw);
  }
}

.snow:nth-of-type(1) {
  width: 10px;
  height: 10px;
  left: 5%;
  animation-duration: 10s;
  animation-delay: -3s;
}

.snow:nth-of-type(2) {
  width: 5px;
  height: 5px;
  left: 15%;
  animation-duration: 12s;
  animation-delay: -5s;
}

.snow:nth-of-type(3) {
  width: 8px;
  height: 8px;
  left: 25%;
  animation-duration: 8s;
  animation-delay: -2s;
}

.snow:nth-of-type(4) {
  width: 4px;
  height: 4px;
  left: 35%;
  animation-duration: 15s;
}

.snow:nth-of-type(5) {
  width: 7px;
  height: 7px;
  left: 45%;
  animation-duration: 9s;
  animation-delay: -4s;
}

.snow:nth-of-type(6) {
  width: 3px;
  height: 3px;
  left: 55%;
  animation-duration: 18s;
  animation-delay: -1s;
}

.snow:nth-of-type(7) {
  width: 6px;
  height: 6px;
  left: 65%;
  animation-duration: 11s;
}

.snow:nth-of-type(8) {
  width: 9px;
  height: 9px;
  left: 75%;
  animation-duration: 7s;
  animation-delay: -6s;
}

.snow:nth-of-type(9) {
  width: 5px;
  height: 5px;
  left: 85%;
  animation-duration: 13s;
}

.snow:nth-of-type(10) {
  width: 8px;
  height: 8px;
  left: 95%;
  animation-duration: 9s;
  animation-delay: -8s;
}

.snow:nth-of-type(11) {
  width: 4px;
  height: 4px;
  left: 10%;
  animation-duration: 16s;
  animation-delay: -1s;
}

.snow:nth-of-type(12) {
  width: 6px;
  height: 6px;
  left: 20%;
  animation-duration: 10s;
  animation-delay: -7s;
}

.snow:nth-of-type(13) {
  width: 3px;
  height: 3px;
  left: 80%;
  animation-duration: 20s;
  animation-delay: -5s;
}

.snow:nth-of-type(14) {
  width: 7px;
  height: 7px;
  left: 90%;
  animation-duration: 8s;
}

.snow:nth-of-type(15) {
  width: 5px;
  height: 5px;
  left: 50%;
  animation-duration: 14s;
  animation-delay: -3s;
}

.snow:nth-of-type(16) {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-duration: 7s;
  animation-delay: -9s;
}
